<!doctype html>
<html>
  <head>
    <!-- Meta bilgileri -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Sayfa başlığı -->
    <title>Fixtures - Anasayfa</title>

    <!-- CSS stilleri -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen"
    />

    <!-- Favicon -->
    <link rel="icon" href="/images/fevicon.png" type="image/gif" />

    <!-- Fontlar -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sen:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome ikonları -->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
  </head>
  <body>
    <!-- Sayfanızın içeriği burada olur -->
  </body>
</html>
