<%- include('partials/_header') %>
<%- include('partials/_navigation') %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="">
                <input type="email" class="mail_text" placeholder="Email" name="email">
                <input type="password" class="mail_text" placeholder="Password" name="password">
                <div class="send_bt mb-5"><a type="submit">Login</a></div>
             </form>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>