<%- include('partials/_header') %>
<%- include('partials/_navigation') %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/users/signup" method="POST">
                <input type="text" class="mail_text" placeholder="Full Name" name="name" required>
                <select class="mail_text" name="role" required>
                    <option value="customer">Customer</option>
                    <option value="member">Member</option>
                </select>
                <input type="email" class="mail_text" placeholder="Email" name="email" required>
                <input type="password" class="mail_text" placeholder="Password" name="password" required>
                <input type="password" class="mail_text" placeholder="Confirm Password" name="c_password" required>
                <div class="send_bt mb-5"><button type="submit">Register</button></div>
             </form>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>